@import "font";
@import "colors";

$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$primary: $main;

@mixin button-mixin {
    display: inline-block;
    background-color: transparent;
    border: 2px solid $primary;
    border-radius: 4px;
    width: 100%;
    padding: 0.3rem 0;
    font-size: 0.5rem;
    font-weight: bold;
    color: $primary;
    text-align: center;
    letter-spacing: 0.05em;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all ease-in 0.2s;
    -moz-transition: all ease-in 0.2s;
    -o-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
    
    &:disabled {
        opacity: 0.75;
        cursor: auto;
    }
    
    @media screen and (min-width: 992px) {
        &:hover:enabled {
            background: $primary;
            color: $white;
        }
    }
    
    &:active:enabled {
        background: $primary;
        color: $white;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    height: 100%;
}

body {
    overflow-y: hidden;
    background: rgb(255,200,202);
    background: linear-gradient(180deg, rgba(255,200,202,1) 0%, rgba(78,88,152,1) 100%);
}

#container {
    color: #fff;
    height: inherit;
    overflow: hidden;
    box-sizing: border-box;
    background-size: cover;
    background: url("../images/background/mountains.png") no-repeat 50% 50%;
}

div.content-container {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 60px 1.2rem 0;
    position: relative;
    width: 100vw;
    font-weight: bold;
    text-align: center;
    
    @media (max-width: $breakpoint-sm) {
        padding: 50px 0.4rem 0;
    }
    
    h1 {
        font-family: "Codename Coder", sans-serif;
        display: inline-block;
        padding-left: 15px;
        padding-bottom: 0.1rem;
        margin-top: 50vh;
        position: relative;
        font-size: 2rem;
        letter-spacing: 0.2em;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 1;
    }
    
    h1.time-header {
        background: $primary;
        
        &:before, &:after {
            position: absolute;
            background: $primary;
            content: "";
            bottom: 0;
            top: 0;
            width: 2.4rem;
            border-radius: 50%;
            z-index: -1;
        }
        
        &:before {
            left: -1.2rem;
        }
        
        &:after {
            right: -1.2rem;
        }
        
        span.header-border {
            position: absolute;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;
            border-top: 2px solid #fff;
            border-bottom: 2px solid #fff;
            z-index: 2;
        }
    }
    
    h1.hello-header, h4 {
        font-family: Lobster, Arial, sans-serif;
        font-size: 1.5rem;
        letter-spacing: 0.3em;
        color: $primary;
        text-shadow: 2px 2px 2px rgba(230, 230, 230, 0.8);
    }
    
    h4 {
        display: block;
        max-width: 600px;
        font-size: 0.8rem;
        margin: 1rem auto;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

$bar-length: 25px;
$bar-thickness: 3px;
header.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    padding: 0 1.4rem;
    box-sizing: border-box;
    z-index: 10;
    border-bottom: 2px solid $primary;
    background: $main-transparence;
    
    @supports not (backdrop-filter: blur(5px)) {
        background: $primary-header;
    }
    
    .header-body {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        
        .bars {
            display: none;
        }
        
        nav.site-header-list {
            display: flex;
            align-items: center;
            justify-content: stretch;
            flex: 0 1 100%;
            z-index: 5;
            transition: top 1s ease 0s;
            
            .nav_item {
                padding: 0 0.5rem;
                cursor: pointer;
                text-align: center;
                justify-self: flex-start;
                
                .nav_link {
                    font-family: "PT Sans", sans-serif;
                    display: inline-block;
                    box-sizing: border-box;
                    border-radius: 2px;
                    text-decoration: none;
                    white-space: nowrap;
                    color: $primary;
                    text-transform: uppercase;
                    letter-spacing: 0.2em;
                    padding: 0.5em 0.8em;
                    border: 2px solid $primary;
                    transition: all 300ms ease;
                    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
                    
                    @media screen and (min-width: 1000px) {
                        &:hover {
                            border: 2px solid $white;
                            color: $white;
                            box-shadow: none;
                        }
                    }
                    
                    &:active {
                        border: 2px solid #fff;
                        color: $white;
                    }
                }
            }
            
            .social__column {
                padding-top: 0.2rem;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                margin-left: auto;
                
                span {
                    color: $primary;
                    white-space: nowrap;
                    display: block;
                    font: 0.45rem "PT Sans";
                    letter-spacing: 0.15em;
                    text-transform: uppercase;
                }
                
                ul.social-menu {
                    display: flex;
                    list-style: none;
                    padding: 0;
                    
                    li {
                        display: inline-block;
                        margin: 0.2rem;
                        
                        a {
                            display: flex;
                            height: 1rem;
                            width: 1rem;
                            padding: 0.15rem;
                            border-radius: 40px;
                            background-color: $primary;
                            -webkit-transition: all 0.2s ease;
                            -o-transition: all 0.2s ease;
                            transition: all ease 0.2s;
                            
                            .social-icon {
                                margin: 0 auto;
                                width: 80%;
                                height: auto;
                                fill: #fff;
                            }
                            
                            &:hover, &:active {
                                .social-icon {
                                    fill: #fff;
                                }
                            }
                            
                            
                            &:hover {
                                &.phone-icon {
                                    background-color: $phone-icon-color;
                                }
                                
                                &.gmail-icon {
                                    background-color: $gmail-icon-color;
                                }
                                
                                &.tg-icon {
                                    background-color: $tg-icon-color;
                                }
                                
                                &.vk-icon {
                                    background-color: $vk-icon-color;
                                }
                                
                                &.ig-icon {
                                    background: $ig-icon-col-default;
                                    background: $ig-icon-color;
                                }
                                
                                
                            }
                        }
                        
                        .phone-icon .social-icon {
                            width: 70%;
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: $breakpoint-md) {
        height: 50px;
        border: none;
        background-color: transparent;
        
        .header-body {
            justify-content: flex-end;
            
            .header-block {
                display: block;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                height: 50px;
                box-sizing: border-box;
                border-bottom: 2px solid $primary;
                z-index: 15;
                background: $main-transparence;
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
                
                @supports not (backdrop-filter: blur(5px)) {
                    background: $primary-header;
                }
            }
            
            .bars {
                display: flex;
                position: relative;
                width: $bar-length;
                height: $bar-length;
                border-radius: 50%;
                cursor: pointer;
                z-index: 20;
                
                &.is-active {
                    
                    span {
                        transform: rotate(-45deg);
                        
                        &:before,
                        &:after {
                            transform: translateX(0) rotate(-90deg);
                        }
                    }
                }
                
                & > span {
                    position: absolute;
                    width: $bar-length;
                    height: $bar-thickness;
                    border-radius: 3px;
                    transition: 0.2s ease-in-out;
                    background: $primary;
                    top: 49%;
                    
                    &::before,
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        will-change: transform;
                        width: $bar-length;
                        height: $bar-thickness;
                        background: $primary;
                        border-radius: 2px;
                        transition: 0.2s ease-in-out;
                    }
                    
                    &:before {
                        transform: translateY(-8px);
                    }
                    
                    &:after {
                        transform: translateY(8px);
                    }
                    
                }
            }
            
            nav.site-header-list {
                display: block;
                box-sizing: border-box;
                position: fixed;
                top: -100%;
                left: 0;
                width: 100%;
                max-width: unset;
                height: 100%;
                background: $main-transparence;
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
                
                @supports not (backdrop-filter: blur(5px)) {
                    background: $primary-header;
                }
                
                .social__column {
                    span {
                        font-size: 0.55rem;
                    }
                    
                    ul.social-menu li a {
                        height: 1.2rem;
                        width: 1.2rem;
                        
                        &.phone-icon {
                            background-color: $phone-icon-color;
                        }
                        
                        &.gmail-icon {
                            background-color: $gmail-icon-color;
                        }
                        
                        &.tg-icon {
                            background-color: $tg-icon-color;
                        }
                        
                        &.vk-icon {
                            background-color: $vk-icon-color;
                        }
                        
                        &.ig-icon {
                            background: $ig-icon-col-default;
                            background: $ig-icon-color;
                        }
                    }
                }
                
                &.active {
                    top: 0;
                    padding-top: 50px;
                    overflow: hidden;
                }
                
                .nav_item {
                    display: block;
                    padding: 5px 0;
                    
                    .nav_link {
                        width: 100%;
                        font-size: 0.6rem;
                        
                        &:active {
                            border: 2px solid #fff;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

$weather-icon-size: 1rem;

.weather-container {
    width: 100%;
    height: 100%;
    padding-top: 0.7rem;
    user-select: none;
    
    &-row {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row wrap-reverse;
        align-items: flex-end;
        justify-content: space-between;
    }
    
    .form-animation {
        &-enter {
            opacity: 0;
            
            &-active {
                opacity: 1;
                transition: opacity 500ms;
            }
        }
        
        &-exit {
            opacity: 1;
            
            &-active {
                opacity: 0;
                transition: opacity 500ms;
            }
        }
    }
    
    .location_form {
        display: inline-block;
        box-sizing: border-box;
        font-family: "PT Sans";
        width: 30vw;
        min-width: 170px;
        max-width: 250px;
        text-align: right;
        margin-left: auto;
        margin-bottom: 0.4rem;
        
        @media screen and (max-width: $breakpoint-md) {
            width: 33vw;
            
            &__group {
                width: 100%;
            }
            button.btn {
                width: 100%;
            }
        }
        
        @media screen and (max-width: 518px) {
            width: 50vw;
        }
        
        &__group {
            position: relative;
            padding: 15px 0 0;
            margin-left: auto;
            width: 70%;
        }
        
        &__input {
            width: 100%;
            border: 0;
            border-bottom: 2px solid $primary;
            outline: 0;
            font-size: 0.6rem;
            letter-spacing: 0.05em;
            color: $primary;
            padding: 7px 0;
            background: transparent;
            transition: border-color 0.2s;
            
            &::placeholder {
                color: transparent;
            }
            
            &:placeholder-shown ~ .location_form__label {
                user-select: none;
                font-size: 0.55rem;
                cursor: text;
                top: 27px;
            }
        }
        
        &__label {
            position: absolute;
            top: 5px;
            display: block;
            transition: 0.2s;
            font-size: 0.5rem;
            letter-spacing: 0.1em;
            color: $primary;
        }
        
        &__input:focus {
            ~ .location_form__label {
                position: absolute;
                top: 5px;
                display: block;
                transition: 0.2s;
                font-size: 0.5rem;
            }
        }
        
        &__input {
            &:required, &:invalid {
                box-shadow: none;
            }
        }
        
        .current-location-block {
            color: $primary;
            text-align: right;
            
            p {
                font-size: 0.5rem;
                letter-spacing: 0.02rem;
                
                &.city {
                    letter-spacing: 0.04rem;
                    font-size: 0.7rem;
                }
            }
            
            div.coords {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: flex;
                flex-flow: row nowrap;
                align-items: flex-start;
                justify-content: flex-end;
                padding: 0.2rem 0 0;
                
                span {
                    font-size: 0.5rem;
                    margin-left: 0.5em;
                }
            }
        }
        
        button.btn {
            @include button-mixin;
            font-size: 0.5rem;
            width: 70%;
        }
    }
    
    .current-weather-card {
        box-sizing: border-box;
        background-color: $card-back;
        backdrop-filter: blur(5px);
        border-radius: 12px;
        padding: 0.4rem 0.4rem 0.4rem 0.5rem;
        color: $white;
        border: 2px solid $primary;
        min-width: 330px;
        max-height: 50vh;
        text-align: center;
        font-family: "PT Sans";
        letter-spacing: 0.02rem;
        cursor: pointer;
        width: 37vw;
        max-width: 400px;
        
        @media screen and (max-width: 518px) {
            margin: 0 auto;
        }
        
        svg.main-icon {
            width: 3.8rem;
            height: 3.8rem;
        }
        
        h3 {
            align-self: center;
            font-size: 0.7rem;
            letter-spacing: 0.06rem;
            padding: 0 0.2rem;
        }
        
        h5 {
            align-self: center;
            font-size: 0.45rem;
            text-transform: uppercase;
            letter-spacing: 0.06rem;
            padding: 0.1rem 0.2rem;
        }
        
        .card-content {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            
            p {
                display: block;
                font-size: 0.53rem;
                letter-spacing: 0.08rem;
            }
            
            span {
                margin-top: 0.1rem;
                display: block;
                width: 100%;
                color: $white;
                font-weight: normal;
                font-size: 0.45rem;
                text-align: center;
                font-style: italic;
            }
            
            svg.card-icon {
                width: $weather-icon-size;
                height: $weather-icon-size;
                
                &.pressure {
                    width: calc(#{$weather-icon-size} - 0.1rem);
                    height: calc(#{$weather-icon-size} - 0.1rem);
                    margin-right: 0.1rem;
                }
                
                &.humidity {
                    width: calc(#{$weather-icon-size} - 0.2rem);
                    height: calc(#{$weather-icon-size} - 0.2rem);
                    margin-right: 0.2rem;
                }
            }
            
            .card-content-block {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
                margin: 0.1rem;
                
                p {
                    display: inline-block;
                    margin-left: 0.4rem;
                }
                
                .temp-wrapper {
                    p {
                        display: block;
                        text-align: left;
                        margin-left: 0.4rem;
                        padding: 0.05rem 0;
                    }
                }
            }
        }
    }
    
    .weather-slider-panel {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 0.4rem 1.2rem;
        
        @media screen and (max-width: 576px) {
            padding: 0.5rem;
        }
    }
}

ul.alert-members-list {
    list-style: none;
    padding: 0 0.2rem 0.1rem 0.1rem;
    max-height: 300px;
    overflow-y: scroll;
    margin-top: 0.3rem;
    
    &::-webkit-scrollbar-track-piece {
        background: $white;
        border-radius: 3px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: $primary;
        border-radius: 3px;
    }
    
    &::-webkit-scrollbar {
        display: block;
        width: 3px;
    }
    
    li {
        color: $main;
        border: 2px solid $main;
        border-radius: 4px;
        padding: 0.1rem 0.1rem 0.1rem 0.2rem;
        text-align: left;
        display: block;
        margin: 0.2rem 0;
        font-size: 0.55rem;
        cursor: pointer;
        
        &:first-child {
            margin-top: 0;
        }
        
        @media screen and (min-width: $breakpoint-md) {
            &:hover {
                border: 2px solid $white;
                color: $white
            }
        }
        
        &:active {
            border: 2px solid $white;
            color: $white
        }
    }
}

@import "../weather-slider/styles/slider";
@import "loader";
@import "alert";


