$main: #363550;
$main-transparence: rgba(54, 53, 80, 0.3);
$card-back: rgba(54, 53, 80, 0.5);
$font-color: #1c1c2b;
$white: #eaeaea;
$primary-bg: #a39bc6;
$primary-header:#8c90be;

$phone-icon-color: #49bf29;
$gmail-icon-color: #F44336;
$tg-icon-color: #0088cc;
$vk-icon-color: #597da3;
$ig-icon-col-default: #d6249f;
$ig-icon-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

