$background: #363550;
$white: #f3f7f8;

$button-blue-hover: #347689;
$button-red: #e52940;
$button-red-hover: #eb5669;
$input-color: #f0f0f0;
$input-border-color: #ececec;

$phone-icon-color: #49bf29;
$gmail-icon-color: #F44336;
$tg-icon-color: #0088cc;
$vk-icon-color: #597da3;
$ig-icon-col-default: #d6249f;
$ig-icon-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

