@import "colors.scss";

.svg-loader {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    .svg-container {
        height: 1.6rem;
        width: 1.6rem;
        
        .loader-svg {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            fill: none;
            stroke-width: 8px;
            stroke-linecap: round;
            stroke: $white;
            
            &.bg {
                stroke-width: 10px;
                stroke: $main;
            }
            
            &.animate {
                stroke-dasharray: 242.6;
                animation: fill-animation 1.5s cubic-bezier(1, 1, 1, 1) 0s infinite;
            }
            
            @keyframes fill-animation {
                0% {
                    stroke-dasharray: 40, 242.6;
                    stroke-dashoffset: 0;
                }
                50% {
                    stroke-dasharray: 141.3;
                    stroke-dashoffset: 141.3;
                }
                100% {
                    stroke-dasharray: 40, 242.6;
                    stroke-dashoffset: 282.6;
                }
            }
        }
    }
    
}




